<div class="jumbotron" style="background:none">
  <!-- <h1 style="color:#0F2538; font-size:90px;">Welcome to FitFire</h1> -->
<br />
<br />
<br />
<br />

    <div class="col-xs-4">{{#link-to 'new-brand'}}<div class="well well-lg slide col-xs-12">
      <h3><i class="material-icons">folder_shared</i><br />BRAND SPONSORS</h3>
    </div>{{/link-to}}
    </div>

    <div class="col-xs-4">{{#link-to 'new-influencer'}}<div class="well well-lg slide col-xs-12">
      <h3><i class="material-icons">verified_user</i><br />INFLUENCERS</h3>
    </div>{{/link-to}}
    </div>

    <div class="col-xs-4">{{#link-to 'new-profile'}}<div class="well well-lg slide col-xs-12">
      <h3><i class="material-icons">whatshot</i><br />JOIN FITFIRE</h3>
    </div>{{/link-to}}
    </div>
<div style="height:150px"></div>

</div>
