<div class="tag__item">
<div class="tag__bg" style="background: url('http://www.paidmodelingjobs.com/wp-content/uploads/2016/06/Fitness-Manufacturer-Looking-for-Models.jpg');
  background-size: cover;">
  <div class="tag__content">
    <span class="tag__title">FITNESS</span>
  </div>
</div>
</div>
<div class="tag__item">
<div class="tag__bg" style="background: url('http://thepaleofactory.com/wp-content/uploads/2016/02/the-power-of-superfoods-2.jpg');
  background-size: cover;">
  <div class="tag__content">
    <span class="tag__title">NUTRITION</span>
  </div>
</div>
</div>
<div class="tag__item">
<div class="tag__bg" style="background: url('http://dingo.care2.com/pictures/greenliving/1291/1290485.large.jpg');
  background-size: cover;">
  <div class="tag__content">
    <span class="tag__title">SPIRITUALITY</span>
  </div>
</div>
</div>
<div class="tag__item">
<div class="tag__bg" style="background: url('http://96bda424cfcc34d9dd1a-0a7f10f87519dba22d2dbc6233a731e5.r41.cf2.rackcdn.com/HealingJourneyWithin/testbild3.jpg');
  background-size: cover;">
  <div class="tag__content">
    <span class="tag__title">WELLNESS</span>
  </div>
</div>
</div>
<div class="tag__item">
<div class="tag__bg" style="background: url('http://fraservalleynewsnetwork.com/wp-content/uploads/2015/11/Charity-3.jpg');
  background-size: cover;">
  <div class="tag__content">
    <span class="tag__title">COMMUNITY</span>
  </div>
</div>
</div>
<div style="height:25px; clear:both;"></div>
