<div class="author-quote-wrap">
	<input class="toggle-quote" type="radio" id="AQ-1" name="quote" checked>
	<div class="author-quote">
		<div class="pull-left author-photo photo-a animated bounceInLeft">
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 423</div></div>
			<div class="quote-text animated rotateInDownRight">Don't You<br>Think That<br>If I Were<br>Wrong,<br>I'd Know It?</div>
			<div class="quote-author animated lightSpeedIn">Sheldon Cooper</div>
		</div>
	</div>
</div>
