<div class="col-sm-6">
  <div class="col-sm-12">
{{#link-to 'influencer' influencer}}
<aside class="profile-cards">

  <header>


    <a href="http://kanishkkunal.in">
      <img src="http://livefreeandstart.com/wp-content/uploads/2015/08/1663453-e1441047502792.png">
    </a>


    <h1>{{influencer.firstname}} {{influencer.lastname}}</h1>
    <p style="font-size: 18px;">{{influencer.description}}</p>

  </header>

<!--
  <div class="profile-bio">
  </div> -->

  <!-- some social links to show off -->
  <ul class="profile-social-links">


  <li>
    {{#link-to 'index'}}
      <i class="material-icons">whatshot</i>
    {{/link-to}}
  </li>


  <li>
    {{#link-to 'index'}}
      <i class="material-icons" style="color:red">favorite_border</i>
    {{/link-to}}
  </li>


  <li>
    {{#link-to 'index'}}
      <i class="material-icons" style="color:black">people_outline</i>
    {{/link-to}}
  </li>

</ul>

    </aside>
    {{/link-to}}
  </div>
 </div>
