
  {{#link-to 'spark' spark}}
  <figure class="pic1">
    <div class="image" style="background-image: url({{spark.photo}}); height:50%">
    </div>
    <figcaption><h4 style="text-transform:uppercase; font-family: 'Fjalla One'; color:#0f2436;">{{spark.name}}</h4></figcaption>
    <figcaption><p>{{spark.influencer.firstname}} {{spark.influencer.lastname}}</p></figcaption>
  </figure>
  {{/link-to}}
