
  {{#link-to 'spark' spark}}
  <figure class="pic1">
    <img src="https://i.imgsafe.org/ded6595cce.jpg" />
    <figcaption><h4 style="text-transform:uppercase; font-family: 'Fjalla One'; color:#0f2436;">{{spark.name}}</h4></figcaption>
    <figcaption><p>{{spark.influencer.firstname}} {{spark.influencer.lastname}}</p></figcaption>
  </figure>
  {{/link-to}}
