{{hamburger-menu}}
<div class="collapse navbar-collapse" id="navigation">
  <ul class="nav navbar-nav">
    <li class="navlink">{{#link-to "application"}}<i class="material-icons">home</i>{{/link-to}}</li>
  </ul>
</div>
